@model IEnumerable<Money_Tracker.Models.Categoria>

@{
    ViewData["PageTitle"] = "Lista de Categorías";
}

<div class="row justify-content-center">
    <div class="col-md-7 flex-column">
        <div class="col-md-3 offset-9 text-end mb-3">
                <a class="btn btn-sm btn-success" href="/Categorias/Create">
                    + Nueva Categoría
                </a>        
        </div>
        
        <ejs-grid id="Categorias" dataSource="@Model" gridLines="None">
                <e-grid-columns>
                    <e-grid-column headerText="Nombre" field="categoriaIconoNombre"></e-grid-column> 
                    <e-grid-column headerText="Tipo" template="#badgeColor" width="150px"></e-grid-column>
                    <e-grid-column headerText="Acciones" template="#accionesTemplate" width="100px"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
    </div>
</div>

<script id="badgeColor" type="text/x-template">
    ${if(categoriaTipo == "Ingreso")}
        <span class="badge bg-success">${categoriaTipo}</span>
    ${else}
        <span class="badge bg-danger">${categoriaTipo}</span>
    ${/if}
</script>

<script id="accionesTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Categorias/Edit/${categoriaId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <form method="post" action="/Categorias/Delete/${categoriaId}">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration" onclick="return confirm(&quot;¿Estás seguro de querer borrar la categoría: ${categoriaNombre}?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </button>    
        </form>
    </div>
</script>

